<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style.css">
    <style>
      .done {
        text-decoration: line-through;
      }
    </style>
  </head>
  <body>
    <main id="app">
      
      <h2 class="noto">{{title}}</h2>
      <form @submit.prevent="addTodo">
        <!-- <label for="newTodo" class="noto">Novi Zadatak</label> -->
        <input  v-model="newTodo" type="text" name="newTodo" id="newTodo" value="">
        <button type="submit" name="button" class="noto btn" >Dodaj</button>
      </form>
      <button @click="allDone" type="button" name="button" class="noto btn">Sve završeno</button>
      <ul>
        <li v-for="todo in todos">
          <div id="listi">
          <input  id="check" type="checkbox" v-model="todo.done">
          <label for="check"></label>
 
          <span :class="{ done: todo.done }" id="tekst">{{todo.title}}</span>
        
          <button id="brisi" @click="removeTodo(todo)" type="button" name="button" class="btn-two">x</button>
        </div>
        </li>
      </ul>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js" charset="utf-8"></script>
  </body>
</html>
